
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, main{
    background-color: $background-color;
    background-image: $background-image;
    background-repeat: no-repeat;
}

.global-title{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    font-family: $font-title;
    color: $color-font;
    text-align: center;
}

p{
    color: $color-font;
    font-size: 62.5%;
    font-family: $font-title;
}

