/* Colores */
$color-primario: #4C48D9;
$color-secundario: #4871D9;
$color-terciario: #53A5DB;
$color-font: #ffffff;

$background-color: #0093E9;
$background-image: linear-gradient(180deg, #0093E9 0%, #79c3ba 100%);





/* Font */
$font-title: 'Oswald', sans-serif;