.main-soporte{
    .container{
        h2{
            font-family: $font-title;
            font-size: 30px;
        }
        padding-left: 0;
    }
    // .form-control{
    //     width: 75%;
    //     height: auto;
    // }
}